.headed{
    background-image: url("./assets/jason-leung-Xaanw0s0pMk-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    
}
.gallerycontent{
    height:40% ;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallerycontent aside:nth-child(1){
    color: rgb(248, 225, 13);
    font-family:'Great Vibes';
    font-weight: 500;
    text-shadow: 2px 2px 3px rgb(223, 12, 12);
    font-size: 70px;
    padding-top: 60px;
}
.gallerycontent aside:nth-child(2){
    color:black;
    font-weight: 600;
    font-size: 25px;
    font-style: oblique;
}
.imagecontainer{
    height: 300px;
    width: 100%;
    border: 2px solid red;

}

.gallery-scroll {
  display: flex;              
  overflow-x: auto;          
  overflow-y: hidden;
  scroll-behavior: smooth;   
  gap: 20px;
  padding: 20px;
}

.gallery-scroll::-webkit-scrollbar {
  height: 10px;
}

.gallery-scroll::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 10px;
}

.gallery-scroll img {
  min-width: 400px;   
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
  /* flex-shrink: 0;     */
}